h1 {
    color: red;
}

#abc {
    border-top-style: solid;
    border-top-width: 1px;
}

h3,


li {
    color: brown;
}
.abc{
    letter-spacing: 3px;

}

#asd{
    color: red;
}

.yellow {
    background-color: yellow;
}

#link{
    text-decoration: none;
}

#zxc{
    letter-spacing: 3px;
}